appledev.p12
build
build.cfg
dist
.pydevproject
.project
.idea
*.pyc
*.pyd
*.dll
*.so
locale
*.exe
.DS_Store
*~
Thumbs.db
Thumbs.db:encryptable
installer/picard-setup.nsi
po/countries/countries.pot
po/attributes/attributes.pot
scripts/picard
.*.sw[a-z]
org.musicbrainz.Picard.appdata.xml
win-version-info.txt
