Frederik “Freso” S. Olesen <freso.dk@gmail.com>
Lukáš Lalinský <lalinsky@gmail.com>             <lukas@oxygene.sk>
Sambhav Kothari <sambhavs.email@gmail.com>
Sophist-UK <github@sodalis.co.uk>
Suhas <suhas2go@gmail.com>
