Frederik “Freso” S. Olesen <freso.dk@gmail.com>
Lukáš Lalinský <lalinsky@gmail.com>             <lukas@oxygene.sk>
Sambhav Kothari <sambhavs.email@gmail.com>
Sophist-UK <github@sodalis.co.uk>
Suhas <suhas2go@gmail.com>
Philipp Wolfer <ph.wolfer@gmail.com> Philipp <phw@macmini.fritz.box>
Laurent Monin <zas@norz.org> <github@norz.org>
Laurent Monin <zas@norz.org> <lmonin.zas@gmail.com>
knguyen <yurameki@gmail.com>
Weblate <noreply@weblate.org> <noreply@weblate.org>
Weblate <noreply@weblate.org> <hosted@weblate.org>
Weblate <noreply@weblate.org> <noreply-mt-weblate-translation-memory@weblate.org>
Weblate <noreply@weblate.org> <noreply-mt-weblate@weblate.org>
Echelon <weblate@wp.pl>
Echelon <weblate@wp.pl> <echelon01@wp.pl>
Yohay <yohay.ailon.tevet@gmail.com> <40911048+YohayAiTe@users.noreply.github.com>
João Sousa <joao.m.e.sousa@tecnico.ulisboa.pt> <joao.m.e.sousa@tecnico.ulisboa.pt>
João Sousa <joao.m.e.sousa@tecnico.ulisboa.pt> <115931175+jpmsousa03@users.noreply.github.com>
oleh_hishak <ohishak@gmail.com> <49448630+Oleghishak@users.noreply.github.com>
StevilKnevil <stevilknevil@hotmail.co.uk> <stevilknevil@hotmail.co.uk>
