Abhinav Ohri <abhinavohri13@gmail.com> <44491059+abhi-ohri@users.noreply.github.com>
Antonio Larrosa <larrosa@kde.org> <antonio.larrosa@gmail.com>
ApeKattQuest, MonkeyPython <monkeypython+inst@yepmail.net> <ApeKattQuest_MonkeyPython@users.noreply.translations.metabrainz.org>
ApeKattQuest, MonkeyPython <monkeypython+inst@yepmail.net> <ApeKattQuestMonkeyPython@users.noreply.translations.metabrainz.org>
Bob Swift <bswift@rsds.ca> <bob@marilyn>
Echelon <weblate@wp.pl>
Echelon <weblate@wp.pl> <echelon01@wp.pl>
Frederik “Freso” S. Olesen <freso.dk@gmail.com>
jaimeMF <musicbrainz@jregistros.fastmail.net> <jaimeMF@users.noreply.translations.metabrainz.org>
João Sousa <joao.m.e.sousa@tecnico.ulisboa.pt> <115931175+jpmsousa03@users.noreply.github.com>
João Sousa <joao.m.e.sousa@tecnico.ulisboa.pt> <joao.m.e.sousa@tecnico.ulisboa.pt>
knguyen <yurameki@gmail.com>
Laurent Monin <zas@norz.org> <github@norz.org>
Laurent Monin <zas@norz.org> <lmonin.zas@gmail.com>
Laurent Monin <zas@norz.org> <sonvideo@norz.org>
Laurent Monin <zas@norz.org> <Zas@users.noreply.translations.metabrainz.org>
Lukáš Lalinský <lalinsky@gmail.com> <lukas@oxygene.sk>
m42i <mfortytwoi@gmail.com> <Mforty Twoi>
mfmeulenbelt <mfmeulenbelt@gmail.com> <mfmeulenbelt@users.noreply.translations.metabrainz.org>
Nicolás Tamargo <reosarevok@gmail.com> <reosarevok@users.noreply.translations.metabrainz.org>
oleh_hishak <ohishak@gmail.com> <49448630+Oleghishak@users.noreply.github.com>
petitminion <pablodurandoz@riseup.net> <50751126+petitminion@users.noreply.github.com>
Philipp Wolfer <ph.wolfer@gmail.com> <ph.wolfer@googlemail.com>
Philipp Wolfer <ph.wolfer@gmail.com> <phil@parolu.io>
Philipp Wolfer <ph.wolfer@gmail.com> <phw@Philipps-Mini.fritz.box>
Philipp Wolfer <ph.wolfer@gmail.com> Philipp <phw@macmini.fritz.box>
Ray <13111236+RaysDev@users.noreply.github.com>
salo.rock <salo.rock+musicbrainz@gmail.com> <salo.rock@users.noreply.translations.metabrainz.org>
Sambhav Kothari <sambhavs.email@gmail.com>
Sambhav Kothari <sambhavs.email@gmail.com> <samj1912@users.noreply.github.com>
skelly37 <skelly37@protonmail.com>
Sophist-UK <github@sodalis.co.uk>
Sophist-UK <github@sodalis.co.uk> <3001893+Sophist-UK@users.noreply.github.com>
StevilKnevil <stevilknevil@hotmail.co.uk> <stevilknevil@hotmail.co.uk>
Suhas <suhas2go@gmail.com>
Vaclovas Intas <gateway_31@protonmail.com>
Vaclovas Intas <gateway_31@protonmail.com> <Vaclovas@users.noreply.translations.metabrainz.org>
Vishal Choudhary <vishal129.vk@gmail.com> <vishal129.vk@gmail.com>
Weblate <noreply@weblate.org> <hosted@weblate.org>
Weblate <noreply@weblate.org> <noreply-mt-weblate-translation-memory@weblate.org>
Weblate <noreply@weblate.org> <noreply-mt-weblate@weblate.org>
Weblate <noreply@weblate.org> <noreply@weblate.org>
Wieland Hoffmann <themineo@gmail.com> <mineo@users.noreply.github.com>
Yohay <yohay.ailon.tevet@gmail.com> <40911048+YohayAiTe@users.noreply.github.com>
