os: linux
dist: trusty
sudo: required
language: python
python: "2.7"
virtualenv:
  system_site_packages: true
cache:
  - apt
  - pip
env:
  global:
    - PIP_INSTALL="pip install"
  matrix:
    - DISCID="" MUTAGEN="$PIP_INSTALL mutagen>=1.23"
    - DISCID="$PIP_INSTALL discid" MUTAGEN="$PIP_INSTALL mutagen>=1.23"
    - MUTAGEN="$PIP_INSTALL mutagen==1.34"
matrix:
  include:
    - os: osx
      osx_image: xcode8.1
      language: generic
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then bash scripts/setup-osx.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update -qq && sudo apt-get install -qq python-qt4 gettext libdiscid0 libdiscid0-dev; $MUTAGEN; $DISCID; fi
install:
  # Set up Picard
  - python setup.py build_ext -i
  - python setup.py build_locales -i
# Run the tests!
script: "python setup.py test"

# Tell people that tests were run
notifications:
  irc: "chat.freenode.net#metabrainz"
