os: linux
dist: trusty
language: python
sudo: required
python:
- '3.6'
- '3.5'
cache:
- apt
- pip
env:
  global:
  - PIP_INSTALL="pip3 install"
  - DISCID="$PIP_INSTALL discid" MUTAGEN="$PIP_INSTALL mutagen>=1.37"
  - NOSE="$PIP_INSTALL nose2"
  - COVERAGE="$PIP_INSTALL nose-cov"
  - CODACY="$PIP_INSTALL codacy-coverage"
  matrix:
  - PYQT="$PIP_INSTALL pyqt5==5.10"
  - PYQT="$PIP_INSTALL pyqt5==5.9"
  - PYQT="$PIP_INSTALL pyqt5==5.8"
matrix:
  include:
  - os: osx
    osx_image: xcode6.4
    language: generic
  allow_failures:
  - os: osx
  fast_finish: true
before_install:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update -qq && sudo apt-get
  install -qq libdiscid0 libdiscid0-dev qt5-default; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then bash scripts/setup-osx.sh; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export LD_LIBRARY_PATH=`pwd`:$LD_LIBRARY_PATH; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then source bin/activate; fi
- "$PYQT"
- "$MUTAGEN"
- "$DISCID"
- "$NOSE"
- if [ ! -z "${CODACY_PROJECT_TOKEN}" ]; then $COVERAGE; fi
script: nose2 -v --with-coverage --coverage picard --coverage-report xml
after_success:
- if [ ! -z "${CODACY_PROJECT_TOKEN}" ]; then $CODACY; python-codacy-coverage -r coverage.xml;
  fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then bash scripts/package-osx.sh; fi
notifications:
  irc: chat.freenode.net#metabrainz
branches:
  only:
  - master
  - 1.4.x
deploy:
  provider: releases
  api_key:
    secure: JgtlHc3OkQ+VzfpV7QGSIo/uJQdXSYgssi/f6rfwTYEy3nkLNRys7EQAYa8VExeK+QytiTuW6/2/hIUgFbjYywpkIBv+JiVrDStBOB8jI8QPcWx1fYWKnZOSITbvLXbKWNk4zMe8ccNIeP0+wRkZwio6FqrADbgg1On6n7setzU=
  file_glob: true
  skip_cleanup: true
  file: dist/*.dmg
  on:
    tags: true
    all_branches: true
