graft po

recursive-include scripts *.in
recursive-exclude scripts picard

include *.in

include *.md
include *.txt

recursive-include test *.py
recursive-include test/data *

exclude org.musicbrainz.Picard.appdata.xml
exclude win-version-info.txt
