[Desktop Entry]
Name=MusicBrainz Picard
Comment=Tag your music with the next generation MusicBrainz tagger
Exec=picard
Terminal=false
Type=Application
StartupNotify=true
Icon=picard
Categories=AudioVideo;AudioVideoEditing;
