[Desktop Entry]
Encoding=UTF-8
Name=MusicBrainz Picard
Comment=The next generation MusicBrainz tagger
Exec=picard
Terminal=false
Type=Application
StartupNotify=true
Icon=picard-32.png
Categories=Application;AudioVideo;AudioVideoEditing;
