discid==1.2.0
fasteners==0.19
Markdown==3.7
mutagen==1.47.0
PyJWT==2.10.1
pyobjc-core==9.0.1
pyobjc-framework-Cocoa==9.0.1
PyQt5==5.15.11
python-dateutil==2.9.0.post0
PyYAML==6.0.2
charset-normalizer==3.4.1
