discid~=1.0
Markdown~=3.2
mutagen~=1.37
PyJWT~=2.0
pyobjc-core>=6.2, <11; sys_platform == 'darwin'
pyobjc-framework-Cocoa>=6.2, <11; sys_platform == 'darwin'
PySide6>=6.6.3, !=6.7.0
python-dateutil~=2.7
pywin32; sys_platform == 'win32'
PyYAML>=5.1, <7
charset-normalizer~=3.3.2
