discid==1.4.2
fasteners==0.20
Markdown==3.10.2
mutagen==1.48.1
PyJWT==2.13.0
pyobjc-core==12.2.1
pyobjc-framework-Cocoa==12.2.1
PyQt5==5.15.11
python-dateutil==2.9.0.post0
PyYAML==6.0.3
charset-normalizer==3.4.9
