discid~=1.0
Markdown~=3.2
mutagen~=1.37
PyJWT~=2.0
pyobjc-core>=6.2, <10; sys_platform == 'darwin'
pyobjc-framework-Cocoa>=6.2, <10; sys_platform == 'darwin'
PyQt6~=6.5.2
PyQt6-Qt6<6.6; sys_platform == 'win32'
python-dateutil~=2.7
pywin32; sys_platform == 'win32'
PyYAML>=5.1, <7
