name: Linting & Validation Checks
on: [push, pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Ruff lint
        uses: astral-sh/ruff-action@v3
        with:
          args: "check --output-format=github"
      - name: Ruff format check
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check"

  check-keys:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check settings keys
        run: python scripts/tools/check_settings.py

  check-xdg-changes:
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.changes.outputs.changes }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check for changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            src:
              - '.github/workflows/lint.yml'
              - 'org.musicbrainz.Picard.appdata.xml.in'
              - 'org.musicbrainz.Picard.desktop.in'
              - 'po/appstream/*.po'
              - 'NEWS.md'
              - 'setup.py'

  validate-xdg-metadata:
    runs-on: ubuntu-latest
    needs: check-xdg-changes
    if: ${{ needs.check-xdg-changes.outputs.src == 'true' || github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install utils
        run: |
          sudo apt-get update
          sudo apt-get install appstream desktop-file-utils gettext
          pip install setuptools
      - name: Validate AppStream metadata
        run: |
          python setup.py build_appdata
          appstreamcli validate --pedantic --explain org.musicbrainz.Picard.appdata.xml
      - name: Validate desktop file
        run: |
          python setup.py build_desktop_file
          desktop-file-validate org.musicbrainz.Picard.desktop
