name: Linting & Validation Checks
on:
  push:
    paths: &path-list
    - '.github/workflows/lint.yml'
    - 'pyproject.toml'
    - '**/*.py'
    - '**/*.md'
    - 'org.musicbrainz.Picard.appdata.xml.in'
    - 'org.musicbrainz.Picard.desktop.in'
    - 'po/appstream/*.po'
  pull_request:
    paths: *path-list

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check for changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            src:
              - '.github/workflows/lint.yml'
              - 'pyproject.toml'
              - '**/*.py'
      - name: Ruff lint
        uses: astral-sh/ruff-action@v3
        if: steps.changes.outputs.src == 'true'
        with:
          args: "check --output-format=github"
      - name: Ruff format check
        uses: astral-sh/ruff-action@v3
        if: steps.changes.outputs.src == 'true'
        with:
          args: "format --diff"

  pymarkdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install pymarkdownlnt
        run: pip install pymarkdownlnt
      - name: Check for changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            src:
              - '.github/workflows/lint.yml'
              - 'pyproject.toml'
              - '**/*.md'
      - name: Run pymarkdownlnt
        if: steps.changes.outputs.src == 'true'
        run: pymarkdownlnt scan -r .

  check-keys:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check settings keys
        run: python scripts/tools/check_settings.py

  validate-xdg-metadata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Check for changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            src:
              - '.github/workflows/lint.yml'
              - 'org.musicbrainz.Picard.appdata.xml.in'
              - 'org.musicbrainz.Picard.desktop.in'
              - 'po/appstream/*.po'
              - 'NEWS.md'
              - 'setup.py'
      - name: Install utils
        if: steps.changes.outputs.src == 'true'
        run: |
          sudo apt-get update
          sudo apt-get install appstream desktop-file-utils gettext
          pip install setuptools
      - name: Validate AppStream metadata
        if: steps.changes.outputs.src == 'true'
        run: |
          python setup.py build_appdata
          appstreamcli validate --pedantic --explain org.musicbrainz.Picard.appdata.xml
      - name: Validate desktop file
        if: steps.changes.outputs.src == 'true'
        run: |
          python setup.py build_desktop_file
          desktop-file-validate org.musicbrainz.Picard.desktop
