name: Package and release

on: [workflow_call]

permissions: {}

jobs:
  package-windows:
    runs-on: windows-2022
    strategy:
      matrix:
        setup:
          - type: installer
          - type: portable
            build-portable: 1
          - type: store-app
            disable-autoupdate: 1
      fail-fast: false
    env:
      CODESIGN: ${{ !!secrets.AZURE_CERT_PROFILE_NAME }}
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0  # Fetch entire history, needed for setting the build number
    - run: git fetch --depth=1 origin +refs/tags/release-*:refs/tags/release-*
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Setup Windows build environment
      run: |
        & .\scripts\package\win-setup.ps1 `
          -DiscidVersion $Env:DISCID_VERSION -DiscidSha256Sum $Env:DISCID_SHA256SUM `
          -FpcalcVersion $Env:FPCALC_VERSION -FpcalcSha256Sum $Env:FPCALC_SHA256SUM
        Add-Content $env:GITHUB_PATH "C:\Program Files (x86)\Windows Kits\10\bin\10.0.26100.0\x64"
        New-Item -Name .\artifacts -ItemType Directory
        pip install setuptools
      env:
        DISCID_VERSION: 0.6.5
        DISCID_SHA256SUM: a1198731d417a04b3d8499bcc10b6a8ddcab06476c855ebff0fb4134888b1be5
        FPCALC_VERSION: 1.6.0
        FPCALC_SHA256SUM: 30179d3d0dc4cc92f1a0995c1a2e523fb4867724c2ee6a6ceae474f8e4d6937a
    - name: Install gettext
      run: |
        & .\scripts\package\win-setup-gettext.ps1 `
          -GettextVersion $Env:GETTEXT_VERSION -GettextSha256Sum $Env:GETTEXT_SHA256SUM
        Add-Content $env:GITHUB_PATH (Join-Path -Path (Resolve-Path .) -ChildPath gettext\bin)
      env:
        GETTEXT_VERSION: 0.22.4
        GETTEXT_SHA256SUM: 220068ac0b9e7aedda03534a3088e584640ac1e639800b3a0baa9410aa6d012a
    - name: Install libgit2
      run: |
        vcpkg install libgit2:x64-windows
        $vcpkgRoot = "C:\vcpkg\installed\x64-windows"
        echo "INCLUDE=$vcpkgRoot\include;$env:INCLUDE" >> $env:GITHUB_ENV
        echo "LIB=$vcpkgRoot\lib;$env:LIB" >> $env:GITHUB_ENV
        echo "LIBPATH=$vcpkgRoot\lib;$env:LIBPATH" >> $env:GITHUB_ENV
      shell: pwsh
    - name: Install dependencies
      run: |
        uv sync --group build --group dev --extra plugins
    - name: Patch build version
      if: startsWith(github.ref, 'refs/tags/') != true
      run: |
        $ReleaseTag = $(git describe --match "release-*" --abbrev=0 --always HEAD)
        $BuildNumber = $(git rev-list --count "$ReleaseTag..HEAD")
        uv run python setup.py patch_version --platform=$Env:BUILD_NUMBER.$(git rev-parse --short HEAD)
    - name: Run tests
      timeout-minutes: 30
      run: |
        uv run pytest --verbose
    - name: Prepare clean build environment
      run: |
        Remove-Item -Path build,dist/picard,locale -Recurse -ErrorAction Ignore
        uv run python setup.py clean
    - name: Build
      run: |
        uv run python setup.py build --build-number=$BuildNumber --disable-locales
        uv run python setup.py build_locales
        uv run python setup.py build_ext -i
        uv run pyinstaller --noconfirm --clean picard.spec
        If ($env:PICARD_BUILD_PORTABLE -ne "1") {
          dist\picard\_internal\fpcalc -version
        }
      env:
        PICARD_APPX_PUBLISHER: CN=0A9169B7-05A3-4ED9-8876-830F17846709
        PICARD_BUILD_PORTABLE: ${{ matrix.setup.build-portable }}
        PICARD_DISABLE_AUTOUPDATE: ${{ matrix.setup.disable-autoupdate }}
    - name: Sign picard.exe
      uses: azure/trusted-signing-action@v0.5.10
      if: matrix.setup.type != 'portable' && env.CODESIGN == 'true'
      with:
        azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
        azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
        endpoint: ${{ secrets.AZURE_ENDPOINT }}
        trusted-signing-account-name: ${{ secrets.AZURE_CODE_SIGNING_NAME }}
        certificate-profile-name: ${{ secrets.AZURE_CERT_PROFILE_NAME }}
        files-folder: dist\picard
        files-folder-filter: exe
        files-folder-recurse: true
        timestamp-rfc3161: http://timestamp.acs.microsoft.com
        timestamp-digest: SHA256
    - name: Build Windows installer
      if: matrix.setup.type == 'installer'
      run: |
        makensis.exe /INPUTCHARSET UTF8 installer\picard-setup.nsi
        Move-Item .\installer\*.exe .\artifacts
    - name: Build Windows portable app
      if: matrix.setup.type == 'portable'
      run: |
        Move-Item .\dist\*.exe .\artifacts
    - name: Build Windows 10 store app package
      if: matrix.setup.type == 'store-app'
      run: |
        & .\scripts\package\win-package-appx.ps1 dist\picard
        Move-Item .\dist\*.msix .\artifacts
    - name: Sign final executable
      uses: azure/trusted-signing-action@v0.5.10
      if: matrix.setup.type != 'store-app' && env.CODESIGN == 'true'
      with:
        azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
        azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
        endpoint: ${{ secrets.AZURE_ENDPOINT }}
        trusted-signing-account-name: ${{ secrets.AZURE_CODE_SIGNING_NAME }}
        certificate-profile-name: ${{ secrets.AZURE_CERT_PROFILE_NAME }}
        files-folder: artifacts
        files-folder-filter: exe
        timestamp-rfc3161: http://timestamp.acs.microsoft.com
        timestamp-digest: SHA256
    - name: Archive production artifacts
      uses: actions/upload-artifact@v5
      with:
        name: windows-${{ matrix.setup.type }}
        path: artifacts/
